<section class="layout">


   <!-- Buscador -->
  <div>
    <div class="search-section">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
        placeholder="Buscar producto..."
      />
    </div>

    <div class="actions">
      <button class="add-button" (click)="onAddProduct()">Agregar</button>

    </div>

  </div>


  <div class="table-container">
    <!-- Skeleton loader -->
    <div *ngIf="isLoading" class="skeleton">
      <div class="skeleton-row" *ngFor="let i of [1, 2, 3, 4, 5]">
        <div class="skeleton-column"></div>
        <div class="skeleton-column"></div>
        <div class="skeleton-column"></div>
        <div class="skeleton-column"></div>
        <div class="skeleton-column"></div>
      </div>
    </div>

    <!-- Table -->
    <table *ngIf="!isLoading">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of paginatedProducts">
          <td><img [src]="'https://www.visa.com.ec/dam/VCOM/regional/lac/SPA/Default/Pay%20With%20Visa/Tarjetas/visa-signature-400x225.jpg'" alt="Logo" class="logo" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release }}</td>
          <td>{{ product.date_revision }}</td>
          <td><button (click)="onDelete(product.id, product.name)" class="three-dots-button">...</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer">
    <p>{{ products.length }} Resultados</p>

    <select [(ngModel)]="limit" (change)="onLimitChange()">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
    </select>
  </div>

  <!-- Modal
  <app-create-product-modal
    *ngIf="showModal"
    (close)="onModalClose()"
    (submitForm)="onModalSubmit($event)">
  </app-create-product-modal>-->

  <!-- Modal confirmar Eliminar -->
  <app-delete-product-modal
    *ngIf="showDeleteModal"
    [productName]="selectedProductName"
    [productId]="selectedProductId"
    (close)="onDeleteModalClose()"
    (confirmDelete)="onConfirmDelete()">
  </app-delete-product-modal>
</section>
